.contact {
  margin: 2rem 4rem;
}
.contactHeader,
.infoGrad {
  font-family: var(--srijan4-font-2);
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 700;
  background: var(--srijan4-gradient-6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.formContainer {
  margin: 2rem 1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(61, 166, 176, 0.1);
}
.form {
  text-align: center;
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    input, textarea {
      margin: 1rem;
      padding: 0.5rem;
      border-radius: 5px;
      width: 30vw;
      height: 6vh;
    }
  }
  .submit {
    height: 2.5rem;
    width: 5rem;
    border: none;
    background: rgba(61, 166, 176, 0.8);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
  }
  .submit:hover {
    background: rgba(61, 166, 176, 0.5);
  }
}
.submissionStatus {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(61, 166, 176, 0.8); /* Change color as needed */
}
@media (max-width: 1000px) {
  .formContainer {
    flex-direction: column;
  }
  .map{
    display: none;
  }
}
@media (max-width: 500px) {
  .contactHeader,
  .infoGrad {
    text-align: center;
    padding: 2rem 0;
  }
  .contact {
    margin: 2rem 2rem;
  }
}
