@mixin flexDisplay($position, $direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: $position;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(61, 166, 176, 0.8);
  height: 4rem;
  position: static;
  top: 0;
  width: 100%;
  transition: all 0.3s ease-out;
  z-index: 1000;
}

.expanded {
  background-color: rgba(61, 66, 176, 0.5);
}

.left {
  @include flexDisplay(center, row);
  transition: all 0.3s ease-in-out;
  margin-left: 2rem;

  img {
    width: 9rem;
    height: auto;
  }
}

.right {
  @include flexDisplay(space-around, row);
  width: 50%;
  margin-right: 2rem;
}

.links {
  @include flexDisplay(space-between, row);
  width: 100%;
}

.navlinks {
  color: var(--c4-white-1-100);
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 1%;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: all 0.15s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.25rem;
    bottom: -0.25rem;
    left: 0;
    background-color: var(--c4-white-1-100);
    border-radius: 20%;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
}

.active {
  color: var(--c4-white-1-100);

  &::before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.profile {
  @include flexDisplay(row, center);
  margin-left: 15%;
}

.toggleIcon {
  display: none;
  color: var(--c4-white-1-100);
  background: none;
  border: none;
}

@media (max-width: 1000px) {
  .navbar {
    transition: 0.5s all ease-in-out;
    position: relative;
  }

  .navbar.expanded {
    height: 50vh;

    .left {
      top: 1rem;
    }
  }

  .navbar.expanded .links {
    @include flexDisplay(center, column);
    position: absolute;
    top: 7.5rem;
    left: 0;
    width: 100%;
    opacity: 1;
  }

  .navbar.expanded .links a {
    margin: 0.9375rem 0;
    font-size: 1.25rem;
  }

  .toggleIcon {
    display: block;
    position: absolute;
    top: 0.8rem;
    right: 2.5rem;
  }

  .left {
    display: block;
    position: absolute;
    top: 0.5rem;
  }

  .links {
    @include flexDisplay(center, column);
    position: absolute;
    top: -18.75rem;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .links a {
    margin: 0.9375rem 0;
    font-size: 1.5rem;
  }

  .profile {
    margin: 0;
  }
}
